<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Know Your Root</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="hero-section">
    <div class="hero-content">
      <h1 class="heroh1">Know Your Root</h1>
      <p>Discover the rich history and vibrant culture of Nigeria's states. Dive deep into their unique characteristics, from the largest cities to the smallest towns. Understand the economy, population, and geography that shape each state.</p>
      <a href="/index" class="get-started-btn">Get Started</a>
    </div>
  </div>
</body>
</html>
